<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<%= render 'layouts/stylesheets' %>
    <title><%= @title %></title>
  </head>
  <body>
	<div class="container">
	  <div id="header">
		<%= link_to_unless_current("Start", :action => "start") %>
		<%= link_to_unless_current("Login", :action => "login") %>
		<%= link_to_unless_current("Hilfe", :action => "hilfe") %>
	  </div>
	  <div id="content" class="round">
		<%= yield %>
	  </div>
	  <div id="footer">
		<%= link_to_unless_current("Impressum", :action => "impressum") %>
		<%= link_to_unless_current("Kontakt", :action => "kontakt") %>
	  </div>
	  <%= debug(params) if Rails.env.development? %>
	</div>
  </body>
